# Buckup files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MonoDevelop Project files
*.userprefs

# Directories
bin/

# Others
*.obj

